.card i {
    font-size: 80px;
    text-align: center;
}



.btnb1{  height: 50px;
          width: 90px;
    margin-left:  1000px;
     text-align: center; 
     padding-top:   9px;  
    border-radius: 16px;            
    }

